html {
    background: linear-gradient(to right, #0066eb 0%, #ff8ab3 100%);
}

main {
    margin: auto;
    width: 100%;
    height: auto;
    padding: 10px;
    text-align: center;
    justify-content: center;
    margin-top: 10vh;
    display: flex;
    
}
h1 {
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-style: italic;
    font: Anton;
}

#config {
    display: block;
    width: 200px;
    margin: 5vh;
    background-color:  #a2b6f7;

}

.colorSelector {
    vertical-align: bottom;
    margin: 2vh;
}


.grid-container{

    display: grid;
    grid-template-columns: repeat(16, auto);
    grid-template-rows: repeat(16, auto);
    border: 1px solid rgba(0, 0, 0, 0.8);
    width: 70vh;
    height: 70vh;
    margin: auto;

}

.tile {
    align-self: 100%;
    transition: 0.15s;
}



